@page "/job/{jobId}/application/{applicationId}"

<PageTitle>Application #@applicationId for Job Post #@jobId</PageTitle>
<h3>Application #@applicationId for Job Post #@jobId</h3>

@code {
    [Parameter]
    public string? jobId { get; set; }
    [Parameter]
    public string? applicationId { get; set; }
}
